<input type="{{ showPassword ? 'text' : 'password' }}" name="password" id="password" [(ngModel)]="password"
       (input)="handlePasswordChange()" autocomplete="off" placeholder="Enter password">
<div class="password-visibility" (click)="passwordVisibility()">{{ showPassword ? 'Hide' : 'Show' }}</div>

<div class="progress-bar">
  <span [ngClass]="passwordStrength"></span>
  <span [ngClass]="{ 'medium': passwordStrength === 'medium',  'strong': passwordStrength === 'strong' }"></span>
  <span [ngClass]="{ 'strong': passwordStrength === 'strong' }"></span>
</div>

<div class="validation-message" *ngIf="validationMessage">{{ validationMessage }}</div>
