input {
  height: 30px;
  border: 1px solid black;
  border-radius: 2px;
  padding: 0 5px;
  &:focus-visible {
    outline: none;
  }
}

.password-visibility {
  cursor: pointer;
  margin-top: 5px;
  color: #007bff;
  font-size: 12px;
}


.validation-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
